<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 <suite name="Test Project Dashboard Suite" verbose="-1" annotations="JDK">
  <test name="DashboardPageTest" >
        <classes>
            <class name="com.dot.testing.qa.prodjectDashboard.DashboardPageTest" />
        </classes>
  </test>
 </suite>